.wrapper{
    background-color: #ffffff;
    height: 100%;
}

.container{
    background-image: url(../../public/images/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    margin-top: -3rem;
    background-size: cover;
}

.filter{
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.featured{
    background-color: #faf7ff;
    margin-top: 2.5rem;
    padding-top: 3rem;
}
.enquiry{
    background-color: white;
    margin-top: 1rem;
    /* padding-top: 3rem; */
}

.offer{
    background-color: #faf7ff;
}

/* @media (max-width : 1040px) and (min-width : 750px) {
    .container{
        background-image: url(../../public/images/image1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 90vh;
        width: 100%;
        margin-top: -13rem;
        background-size:contain;
    }
    .wrapper{
        width: 100%;
    }
} */


@media (max-width : 449px) and (min-width : 0px) {
    .container{
        background-image: url(../../public/images/image1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 45vh;
        width: 100%;
        margin-top: -3.1rem;
        background-size: cover;
    }

   
}

@media (max-width : 599px) and (min-width : 450px) {
    .container{
        background-image: url(../../public/images/image1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        width: 100%;
        margin-top: -3.2rem;
        background-size: cover;
    }

    @media (max-width : 750px) and (min-width : 600px) {
        .container{
            background-image: url(../../public/images/image1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            height: 60vh;
            width: 100%;
            margin-top: -3.2rem;
            background-size: cover;
        }
    }
    
}